[Desktop Entry]
Type=Application
Version=0.3
Name=GameSaveSyncClient
Comment=Client for GameSaveSyncServer
Exec=GameSaveSyncClient
Terminal=false
Categories=Utility;Games
Icon=GameSaveSyncClient
